<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PDF Processing Result</title>
</head>
<body>
	<h2>PDF Processing Result</h2>

	<table>
		<thead>
			<tr>
				<th>Notice to Mariners Number</th>
				<th>Chart Number</th>
				<th>Action</th>
				<th>Action Info</th>
				<th>Lat/Long</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pdfData : ${entries}">
				<td th:text="${pdfData.noticeToMarinersNumber}">Notice to
					Mariners Number</td>
				<td th:text="${pdfData.chartNumber}">Chart Number</td>
				<td th:text="${pdfData.action}">Action</td>
				<td th:text="${pdfData.actionInfo}">Action Info</td>
				<td th:text="${pdfData.latLong}">Lat/Long</td>
			</tr>
		</tbody>
	</table>


	<br>
	<a href="/">Upload Another PDF</a>
</body>
</html>

